label {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

form {
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

.general,
.education,
.experience {
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

#general-section,
#education-section,
#experience-section {
  /* width: 80vw; */
  padding: 0rem 2rem;
  padding-bottom: 1rem;
  border: 2px solid black;
  border-radius: 15px;
  margin-top: 2rem;
}
